/* Base */
.logo {
    margin: inherit;
    text-transform: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}

/* Scroller */

.arrow-scroll {
    bottom: 50px;
    cursor: pointer;
    right: 50px;
    font-size: 30px;
    background: rgba(0,0,0,0.5);
    border-radius: 100px;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
}

#arrow-scroll-up {
    display: none;
    bottom: 50px;
    right: 50px;
}

/* Notification */
.notification {
    margin-bottom: 0 !important;
}

/* Home */
.home-show {
    background-repeat: no-repeat !important;
    background-size: 100% 100vh !important;
    min-height: 100vh !important;
}

.home-show-jumbotron {
    background-color: transparent !important;
    height: 100vh;
    padding-top: 45vh !important;
}

/* Error Internal Server Error */

.error-internal-server-error {
    min-height: 100vh;
}

/* Error Not Found */

.error-not-found {
    min-height: 100vh;
}

/* Error Forbidden */

.error-forbidden {
    min-height: 100vh;
}

/* Trick Loader */

#trick-loader {
    background: rgba(0,0,0,0.9);
    color: #ffffff;
    font-size: 30px;
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
}

#trick-loader .status {
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#trick-loader .progress {
    background-color: rgba(0,0,0,0.9);
}

#trick-loader .progress-bar {
    background-color: #ffffff;
}

#trick-loader-message-in-progress, #trick-loader-message-almost-done {
    display: none;
}

/* Trick Collection */
.trick-list-item-title {
    font-size: 15px;
}

.trick-list-item-title a,
.trick-list-item-title a:hover {
    color: #333;
}

.trick-list-item-action-list i {
    color: initial;
    cursor: pointer;
}

.trick-edit-delete, .trick-edit-submit {
    cursor: pointer;
}

.trick-edit-body textarea {
    overflow: hidden;
    width: 100%;
}

/* Trick Edit */
@media (min-width: 768px) {
    .trick-edit-content {
        border: 1px solid #999999;
        border-radius: 3px;
        margin-top: 60px;
    }
}

.trick-edit-header-overlay {
    background:rgba(255,255,255,0.5);
    z-index: 10;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.trick-edit-attachment-action-list {
    bottom: 15px;
    right: 30px;
    z-index: 1000;
}

.trick-edit-attachment-action-list li i {
    background: rgba(0,0,0,0.5);
    border-radius: 100px;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
} 

.trick-edit-title {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    z-index: 20;
}

/* Trick Show */
@media (min-width: 768px) {
    .trick-show-content {
        border: 1px solid #999999;
        border-radius: 3px;
        margin-top: 60px;
    }
}

@media (max-width: 767px) {
    .trick-show {
        background: none !important;
    }
}

.trick-show-header-overlay {
    background:rgba(255,255,255,0.5);
    z-index: 10;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.trick-show-action-list {
    right: 30px;
    top: 30px;
    z-index: 1000;
}

.trick-show-action-list li i {
    background: rgba(0,0,0,0.5);
    border-radius: 100px;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
} 

.trick-show-title {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    z-index: 20;
}

.trick-show-comment-edit {
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
}

/* Trick Comment Edit */
.trick-comment-edit-body textarea {
    overflow: hidden;
    width: 100%;
}

/* Trick Comment List */
.trick-comment-list-item-action i {
    cursor: pointer;
}

.trick-comment-list-item-gravatar img {
    width: 35px;
}

/* Trick Attachment Collection */
@media (max-width:767px) {
    #trick-attachment-carousel {
        display: none;
    }
}

.trick-attachment-carousel-control {
    opacity: 1!important;
    width: 75px !important;
    height: 20%;
    top: 40% !important;
    bottom: 40% !important;
}

.trick-attachment-carousel-control.carousel-control-prev {
    left: 15px;
}

.trick-attachment-carousel-control.carousel-control-next {
    right: 15px;
}

.trick-attachment-carousel-control i {
    color: #ffffff;
    background: rgba(0,0,0,0.5);
    border-radius: 100px;
    padding: 15px;
}

.trick-attachment-list-action-list {
    right: 30px;
    top: 10px;
}

.trick-attachment-list-action-list i {
    background: rgba(0,0,0,0.5);
    border-radius: 100px;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .trick-attachment-carousel-toggler {
        display: none !important;
    }

       /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/* Sign In */
.sign-in {
    min-height: 100vh;
}

/* Sign Up */
.sign-up {
    min-height: 100vh;
}

/* Password Reset Request */
.password-reset-request {
    min-height: 100vh;
}

/* Password Reset */
.password-reset {
    min-height: 100vh;
}
