{% if app.request.hasPreviousSession %}
    {% for status, messages in app.flashes %}
        {% if status|first == 2 or status|first == 3 %}
            {% set label = 'success' %}
        {% elseif status|first == 4 or status|first == 5 %}
            {% set label = 'danger' %}
        {% endif %}
        {% for message in messages %}
            <div class="notification alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
