<div class="modal fade" id="trick-delete-modal" tabindex="-1" role="dialog" aria-labelledby="trick-delete-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{ 'trick.delete_modal.body'|trans() }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'trick.delete_modal.button.cancel'|trans() }}</button>
                <button type="button" class="btn btn-danger">{{ 'trick.delete_modal.button.ok'|trans() }}</button>
            </div>
        </div>
    </div>
</div>
