{{ message | nl2br }}
<form action="{{ url('get_user_password_reset_empty_form', {'id': user.id}) }}" method="GET">
    <input type="hidden" name="user_password_reset_email[token]" value="{{ user.passwordResetToken }}" />
    <button type="submit">{{ 'user.password_reset.email.form.label.submit'|trans() }}</button>
</form>
