{% extends 'base.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center justify-content-center">
                {% block opportus_user_content %}
                    {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {% endblock opportus_user_content %}
            </div>
        </div>
    </div>
{% endblock content %}
